body {
  font-family: 'Roboto,Noto,Segoe UI,Arial,sans-serif';
  font-size: 0.95em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#navbarcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid grey;
  width: 100%;
}

#logocontainer {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 45px;
}

#logocontainer a {
  width: 150px;
  text-align: left;
  align-self: center;
}

#logocontainer form {
  align-self: center;
}

#swapdlogo {
  width: 90%;
}

nav a {
  white-space: nowrap;
  color: white;
  text-decoration: none;
  font-size: 12px;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

#googleButton {
  margin: 0px;
  padding: 0px;
  border: 0px;
  margin-top: 20px;
}

.profilePhoto {
  height: 180px;
  border-radius: 50%;
  margin: 15px;
}

.swaplistcontainer {
  justify-content: center;
}

.swaplistdetails {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.swapListImage {
  height: 104px;
  width: 104px;
  border-radius: 50%;
}

.searchResultsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  flex: 0 auto;
}
.searchResultsImg {
  width: 256px;
  height: 256px;
  border-radius: 50%;
}

.searchResultsInner {
  padding: 30px;
  margin: 15px;
}

.searchResultsName {
  font-size: 20px;
  padding: 5px;
}

#profileContainer {
  display: flex;
  justify-content: center;
}

.leftProfile {
  width: 25%;
  text-align: center;
  border: 1px;
  border-radius: 1px;
  border-style: solid;
  border-color: rgb(228, 228, 228);
  padding: 15px;
  margin: 45px;
  box-shadow: rgb(228, 228, 228);
}

.leftProfile img {
  margin-bottom: 5px;
}

.rightProfile {
  width: 60%;
  text-align: center;
  border-color: rgb(228, 228, 228);
  padding: 15px;
  margin: 15px;
}

#overallRating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

#overallRating span {
  padding: 2px;
}

.interests {
  padding-bottom: 5px;
  font-weight: bold;
}

div ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  padding: 5px;
}

.matching {
  color: #25665c;
  font-weight: bold;
}
