body {
  font-family: 'Roboto,Noto,Segoe UI,Arial,sans-serif';
  font-size: 0.95em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;
  color: #25665c;
}

a:visited {
  color: #25665c;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#navbarcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid grey;
  width: 100%;
}

#logocontainer {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 45px;
}

#logocontainer a {
  width: 150px;
  text-align: left;
  align-self: center;
}

#logocontainer form {
  align-self: center;
}

#swapdlogo {
  width: 90%;
}

nav a {
  white-space: nowrap;
  color: white;
  text-decoration: none;
  font-size: 12px;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

#googleButton {
  margin: 0px;
  padding: 0px;
  border: 0px;
  margin-top: 20px;
}

.profilePhoto {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  margin: 15px;
}

.swaplistcontainer {
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid grey;
}

.swaplistdetails {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.swapListImage {
  height: 104px;
  width: 104px;
  border-radius: 50%;
}

.searchResultsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  flex: 0 auto;
}
.searchResultsImg {
  width: 256px;
  height: 256px;
  border-radius: 50%;
}

.searchResultsInner {
  padding: 30px;
  margin: 15px;
}

.searchResultsName {
  font-size: 20px;
  padding: 5px;
}

#profileContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.leftProfile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.userProfileMain {
  height: 100%;
  text-align: center;
  border: 1px;
  border-radius: 1px;
  border-style: solid;
  border-color: rgb(228, 228, 228);
  padding: 15px;
  margin: 45px;
  box-shadow: rgb(228, 228, 228);
}
.profileServicesList {
  height: 100%;
  text-align: center;
  border: 1px;
  width: 300px;
  border-radius: 1px;
  border-style: solid;
  border-color: rgb(228, 228, 228);
  padding: 15px;
  margin: 45px;
  box-shadow: rgb(228, 228, 228);
}

.rightProfile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.profileInterestsList {
  height: 100%;
  padding: 15px;
  margin: 45px;
  /* width: 55%; */
  border: 1px;
  border-radius: 1px;
  border-style: solid;
  border-color: rgb(228, 228, 228);
  box-shadow: rgb(228, 228, 228);
}
.profileEditButton {
  height: 100%;
  padding: 15px;
  margin: 45px;
  /* width: 55%; */
  border: 1px;
  border-radius: 1px;
}

#servicelistcontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.singleservice {
  display: flex;
  justify-content: left;
  width: 95%;
  margin: 15px;
  border: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(228, 228, 228);
  box-shadow: rgb(228, 228, 228);
}

.servicephotobox {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 25%;
}

.servicephotobox a {
  align-self: center;
  width: 90%;
}

.servicephoto {
  width: 100%;
  border-radius: 10px;
}

.servicename {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.servicerating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  padding: 3px;
}

.servicerating span {
  padding-right: 3px;
}

.servicedescriptionbox {
  overflow: hidden;
  width: 50%;
  padding: 10px;
}

.servicedescriptionbox p {
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
}

.verticalline {
  overflow: hidden;
  border: 0px;
  border-left: 1px;
  border-style: solid;
  border-color: rgb(228, 228, 228);
}

.servicerightside {
  overflow: hidden;
  white-space: nowrap;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.servicerightsidetitle {
  padding-bottom: 10px;
}

.remote {
  text-align: center;
}

#overallRating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

#overallRating span {
  padding: 2px;
  padding-left: 0px;
}

.interests {
  padding-bottom: 5px;
  font-weight: bold;
}

div ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  padding: 5px;
}

.matching {
  color: #25665c;
  font-weight: bold;
}

#selectedServiceContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.reviewContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
  margin: 15px;
  border: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(228, 228, 228);
  box-shadow: rgb(228, 228, 228);
}
