body {
  font-family: 'Roboto,Noto,Segoe UI,Arial,sans-serif';
  font-size: 0.95em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;
  color: #25665c;
}

a:visited {
  color: #25665c;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#navbarcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid lightgray;
  width: 100%;
}

#logocontainer {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 45px;
}

#logocontainer a {
  width: 150px;
  text-align: left;
  align-self: center;
}

#logocontainer form {
  align-self: center;
}

#swapdlogo {
  width: 90%;
}

nav a {
  white-space: nowrap;
  color: white;
  text-decoration: none;
  font-size: 12px;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

#googleButton {
  margin: 0px;
  padding: 0px;
  border: 0px;
  margin-top: 20px;
}

.profilePhoto {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  margin: 15px;
}

.swaplistcontainer {
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid grey;
}

.swaplistdetails {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.swapListImage {
  height: 104px;
  width: 104px;
  border-radius: 50%;
}

.searchResultsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  flex: 0 auto;
}
.searchResultsImg {
  width: 256px;
  height: 256px;
  border-radius: 50%;
}

.searchResultsInner {
  padding: 30px;
  margin: 15px;
}

.searchResultsName {
  font-size: 20px;
  padding: 5px;
}

#profileContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.leftProfile {
  height: 100%;
  text-align: center;
  border: 1px;
  border-radius: 1px;
  border-style: solid;
  border-color: rgb(228, 228, 228);
  padding: 15px;
  margin: 45px;
  box-shadow: rgb(228, 228, 228);
}

.userProfileMain {
  height: 100%;
  text-align: center;
  border: 1px;
  border-radius: 1px;
  border-style: solid;
  border-color: rgb(228, 228, 228);
  padding: 15px;
  margin: 45px;
  box-shadow: rgb(228, 228, 228);
}

.profileServicesList {
  height: 100%;
  text-align: center;
  border: 1px;
  width: 300px;
  border-radius: 1px;
  border-style: solid;
  border-color: rgb(228, 228, 228);
  padding: 15px;
  margin: 45px;
  box-shadow: rgb(228, 228, 228);
}

.rightProfile {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 15px;
  margin: 45px;
  width: 55%;
  border: 1px;
  border-radius: 1px;
  border-style: solid;
  border-color: rgb(228, 228, 228);
  box-shadow: rgb(228, 228, 228);
}
.profileInterestsList {
  height: 100%;
  padding: 15px;
  margin: 45px;
  /* width: 55%; */
  border: 1px;
  border-radius: 1px;
  border-style: solid;
  border-color: rgb(228, 228, 228);
  box-shadow: rgb(228, 228, 228);
}
.profileEditButton {
  height: 100%;
  padding: 15px;
  margin: 45px;
  /* width: 55%; */
  border: 1px;
  border-radius: 1px;
}

#servicelistcontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.singleservice {
  display: flex;
  justify-content: left;
  width: 95%;
  margin: 15px;
  border: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(228, 228, 228);
  box-shadow: rgb(228, 228, 228);
}

.servicephotobox {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 25%;
}

.servicephotobox a {
  align-self: center;
  width: 90%;
}

.servicephoto {
  width: 100%;
  border-radius: 10px;
}

.servicename {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.servicerating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  padding: 3px;
}

.servicerating span {
  padding-right: 3px;
}

.servicedescriptionbox {
  overflow: hidden;
  width: 50%;
  padding: 10px;
}

.servicedescriptionbox p {
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
}

.verticalline {
  overflow: hidden;
  border: 0px;
  border-left: 1px;
  border-style: solid;
  border-color: rgb(228, 228, 228);
}

.servicerightside {
  overflow: hidden;
  white-space: nowrap;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.servicerightsidetitle {
  padding-bottom: 10px;
}

.remote {
  text-align: center;
}

#overallRating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

#overallRating span {
  padding: 2px;
  padding-left: 0px;
}

.interests {
  padding-bottom: 5px;
  font-weight: bold;
}

div ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  padding: 5px;
}

.matching {
  color: #25665c;
  font-weight: bold;
}

#selectedServiceContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.reviewContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
  margin: 15px;
  border: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(228, 228, 228);
  box-shadow: rgb(228, 228, 228);
}

#reviewMaker {
}
.reviewMaker {
  display: flex;
}
.star {
  display: none;
}

.reviewMaker label {
  display: block;
  cursor: pointer;
  background: #ccc;
}

.reviewMaker label:before {
  content: '\f005';
  font-family: fontAwesome;
  position: relative;
  display: block;
}

.reviewMaker label:after {
  content: '\f005';
  font-family: fontAwesome;
  position: absolute;
  display: block;
  color: #25665c;
  top: 0;
  opacity: 0;
}

#chatContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: 600px;
  width: 400px;
  margin-top: 60px;
  margin-bottom: 60px;
  max-height: 100%;
  border: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(228, 228, 228);
  box-shadow: rgb(228, 228, 228);
  color: rgba(0, 0, 0, 0.87);
  background-color: #fafafa;
}

#chatTitle {
  align-self: center;
  padding: 10px;
  font-size: 1.1em;
}

#new-message-form {
  padding: 6px 18px;
  height: 40px;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: rgb(228, 228, 228);
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #fff;
  align-items: center;
}

#new-message-form .form-control {
  /* border-width: 3px 1.5px 3px 3px; */
  height: 100%;
  width: 100%;
  outline: 0;
  box-sizing: border-box;
  background-color: #fff;
  border-style: none;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
}

#new-message-form.btn {
  border-width: 3px;
}

.message-list {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.media-otheruser {
  display: flex;
  padding: 10px;
  align-items: center;
}

.media-object {
  border-radius: 5px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.media-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 5px;
}

.sender-name {
  font-size: 0.9em;
  padding-left: 2px;
}

.media-bubble {
  color: rgba(0, 0, 0, 0.87);
  border-color: #fff;
  border-radius: 2px 12px 12px;
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.08);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  order: -1;
  padding: 8px;
  line-height: 1.25;
  word-wrap: break-word;
  max-width: 250px;
}

.message-timestamp-container {
  display: flex;
  align-self: flex-end;
  padding: 5px;
}

.message-timestamp {
  font-size: 0.6em;
}

.media-user {
  display: flex;
  padding: 10px;
  justify-self: flex-end;
  align-items: center;
  align-self: flex-end;
}

.media-userbubble {
  color: #fff;
  border-color: #fff;
  border-radius: 12px 12px 2px 12px;
  border-width: 1px;
  border-style: solid;
  background-color: #25665c;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.08);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  order: -1;
  padding: 8px;
  line-height: 1.25;
  word-wrap: break-word;
  text-align: left;
  max-width: 200px;
}

.offer_confirmed {
  border-radius: 5px;
  background-color: green;
}

.newUserServiceContainer {
  display: flex;
  justify-content: center;
}

.innerNewUserService {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
  height: 300px;
  margin: 15px;
  border: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(228, 228, 228);
  box-shadow: rgb(228, 228, 228);
}

.newUserServiceForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  width: 80%;
}

.serviceNameDescription {
  width: 80%;
}

.newUserServiceHeader {
  font-size: 40px;
  padding: 5px;
}
.newUserServiceText {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;
  width: 75%;
}

.editDescription {
  width: 30%;
}

.leftEditProfile {
  height: 100%;
  width: 35%;
  text-align: center;
  border: 1px;
  border-radius: 1px;
  border-style: solid;
  border-color: rgb(228, 228, 228);
  padding: 15px;
  margin: 45px;
  box-shadow: rgb(228, 228, 228);
}

.rightEditProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 15px;
  margin: 45px;
  width: 40%;
  border: 1px;
  border-radius: 1px;
  border-style: solid;
  border-color: rgb(228, 228, 228);
  box-shadow: rgb(228, 228, 228);
}

.editServices {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 15px;
  margin: 10px;
  width: 40%;
}

.boldText {
  font-size: 1.5em;
  font-weight: bold;
}

.sendButton {
  background-color: #fff;
  border-color: #fff;
  border: none;
}

#outerchatcontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#offer_Container {
  margin: 60px;
}

.offer_confirmed {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  border-style: solid;
  border-width: 3px;
  border-color: #25665c;
  width: 400px;
}

.offer_pending {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 400px;
}

.offer_listcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.offer_title {
  font-size: 24px;
  font-weight: bold;
}

.offer_details {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.offer_photo {
  height: 100px;
  border-radius: 10px;
}

.offer_description {
  padding-left: 10px;
}

.confirmedsvg {
  width: 50px;
  display: block;
  align-self: center;
  padding: 20px;
}

/* .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  &.circle {
    -webkit-animation: dash .9s ease-in-out;
    animation: dash .9s ease-in-out;
  }
  &.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash .9s .35s ease-in-out forwards;
    animation: dash .9s .35s ease-in-out forwards;
  }
  &.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check .9s .35s ease-in-out forwards;
    animation: dash-check .9s .35s ease-in-out forwards;
  }
} */

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

.homeImgContainer {
  position: relative;
  text-align: center;
  color: white;
}

.homeImg {
  height: 35%;
  width: 100%;
}

.topHomeImg {
  color: white;
  font-size: 70px;
  position: absolute;
  top: 15%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.middleHomeImg {
  color: white;
  font-size: 30px;
  width: 63%;
  position: absolute;
  word-wrap: break-word;
  top: 35%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.lowerHomeImg {
  color: white;
  font-size: 30px;
  width: 63%;
  position: absolute;
  word-wrap: break-word;
  top: 55%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.messageMessage {
  display: flex;
  margin: 50px;
  font-size: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
